name: Database Backup from Server via. mysqldump

on:
  schedule:
    # 00:00 IST, 06:00 IST, 12:00 IST, 18:00 IST
    - cron: "30 18,0,6,12 * * *"
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - .github/workflows/database-backup.yml
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/database-backup.yml

jobs:
  backup:
    runs-on: ubuntu-slim

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Update package repository
        run: sudo apt-get update

      - name: Install MySQL client
        run: sudo apt-get install -y mysql-client

      - name: Backup database from ${{ secrets.SERVER_NAME }} via. mysqldump
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
          SERVER_NAME: ${{ secrets.SERVER_NAME }}
        run: bash .github/scripts/backup_database.bash

      - name: Configure Git
        uses: fregante/setup-git-user@v2.0.2

      - name: Check for Changes
        id: check_changes
        run: bash .github/scripts/check_changes.bash

      - name: Add and Commit Changes
        if: env.changed == 'true'
        env:
          SERVER_NAME: ${{ secrets.SERVER_NAME }}
        run: bash .github/scripts/add_and_commit_changes.bash

      - name: Push Changes to Master
        if: env.changed == 'true'
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
